body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: purple;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: purple;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 0 green;
  }
  100% {
    box-shadow: 0 0 20px 5px green;
  }
}

#loading-bar {
  width: 100%;
  height: 10px;
  background-color: lightgray;
  position: relative;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color: green;
  transition: width 2m linear;
}

#progress-text {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
}

